
  body{
    /* margin-right: 400px; */
    /* margin-bottom: 200px; */
    /* margin-top: 2px;
    margin-left: 3px; */
    /* padding: right 30%;  */
    /* padding: left 0%;  */
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;

    background-color: black;
  }
  .dancing-text {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding: right 60%; 
  }
  .typewriter {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
  
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid yellow;
    width: 0;
    animation: typing 4s steps(40, end) forwards, blink 0.7s step-end infinite;
    padding: right 60%; 
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 15ch } /* Adjust to match character count */
  }

  @keyframes blink {
    70% { border-color: transparent }
  }
  
  h3{
    /* font-family:cursive; */
    /* text-align: center; */
    text-decoration: double;
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    font-optical-sizing: auto;
    
    /* font-style: normal; */
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    /* padding: right 60%;  */
  }
  .square{
    width:auto;
    height: 999px;
      /* bottom: 300px; */
      background-color:#101820 ; /*Just for visibility*/
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      /* padding: right 60%;  */
      /* padding: right 10%; 
      padding: left 0%;  */
      /* padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 10px; */
    }
  button  {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: #FEE715;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    
  }
  .lines{
    
    font-family: 'Dancing Script', cursive;
    font-size: 32px;  
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: #FEE715;
  }
  button{
    color:#A1BE95;
    border-style: double;
    border-radius: 7px;
    border-top-color:#101820;
    border-bottom-color:#101820;
    border-left-color:#101820;
    border-right-color:#101820;
  }
  

  