
  body{
    
    background-color: black;
  }
  .dancing-text {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
  }
  .typewriter {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
  
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid yellow;
    width: 0;
    animation: typing 4s steps(70, end) forwards, blink 0.7s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 60ch } /* Adjust to match character count */
  }

  @keyframes blink {
    70% { border-color: transparent }
  }
  h2{
    /* font-family:cursive; */
    /* text-align: center; */
    text-decoration: double;
    color: antiquewhite;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    font-optical-sizing: auto;
    
    /* font-style: normal; */
  }
  .square{
    width: 600px;
      height: 800px;
      /* bottom: 300px; */
      background-color: #00ff9d; /* Just for visibility */
    }
  button  {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
      
  }
  .lines{
    
    font-family: 'Dancing Script', cursive;
    font-size: 32px;  
  }
  

  